extends layouts/index.pug

block main
    div
        h1='Vista de Productos'
        br
        if prodAmount
            div
                table
                    tr
                        th='Nombre'
                        th='Precio'
                        th='Foto'
                        each elem in product
                            tr
                                td=elem.title
                                td=elem.price
                                td
                                    img(src=elem.thumbnail alt='not found')
        else
            h3='No se encontraron productos'
        br
        a(href="/" type="button")='Cargar un nuevo producto'